@model PrestadorServico

<h1>Dados do Prestador do Serviço</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaServico.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaServico.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info"> <i class="glyphicon glyphicon-pencil"></i> Alterar </a>
    @if(Model?.Id>0)
    {
        <a asp-action="IndexCidade" asp-route-idPrestacaoServico="@Model?.Id" class="btn btn-info" style="background-color:lightyellow"> <i class="glyphicon glyphicon-th-list"></i> Cidades de abrangência </a>
        <a asp-action="ListaAvaliacao" asp-route-id="@Model?.Id" class="btn btn-info" style="background-color:lightyellow"> <i class="glyphicon glyphicon-star"></i> Visualizar as avaliações </a>
    }        
</div>
